/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --color-primary: hsl(12, 88%, 59%);
  --color-primary-100: hsl(228, 39%, 23%);

  --color-neutral-100: hsl(227, 12%, 61%);
  --color-neutral-900: hsl(233, 12%, 13%);
  --color-accent-100: hsl(13, 100%, 96%);
  --color-accent-900: hsl(0, 0%, 98%);
}
